/*color palette*/
:root{
    --dark-tone: #272932;
    --blue-tone: #1C7293;
    --green-tone:#B9E3C6;
    --white-tone:#F1F2EB;
}

/*Basic layout*/
body{
    font-family: 'Ubuntu', sans-serif;
    background-color:  rgb(15, 15, 15);
    color: var(--white-tone); 
    margin: 0;
    padding:0; 
   
}
.main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

/*Navbar layout*/
navbar{
    position: fixed;
    top: 0;
    z-index: 100;
    margin-top: -1rem
}
.nav-list{
    background-color: var(--dark-tone);
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
    
}
.nav-item{
    list-style: none;
    margin-right: 4rem;
}
.nav-item a{
    text-decoration: none;
    color: var(--white-tone);
    font-size: 26px;
    transition: 0.5s ease-in-out;
}
.nav-item:first-child{
   margin-right: auto;
   margin-left: 5rem; 
}
.li:hover{
    color: var(--blue-tone);
    transition: 10ms;
    animation-delay: 5ms;
}
/*First section styling*/
.sec-sec-cont{
    width: 100vw;
    background-color: var(--dark-tone);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header{
    max-width: 1700px;
    background-color: var(--dark-tone);
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding-top:9rem;
    
    
    
}
.btn-one{
    all: unset;
    font-weight: 700;
    margin-left: 0.5rem;
    display: inline-block;
    padding: .5rem 1.25rem;
    background: var(--blue-tone);
    color: var(--white-tone);
    box-shadow: 0 12px 12px -6px black;
    transform: scale(1);
    transition: ease-in-out 250ms;
    flex: 1;
}
.btn-one:hover{
    transform: scale(1.125);
}
.big-picture{
    flex: 1 ;
    max-width: 45rem;
    height: auto;
    box-shadow: 3px 5px 15px 5px black;
    margin-right: 2.5rem;
    
}
.big-picture>img{
    max-width: 45rem;
}
.left-content{
    margin: 10% 7rem;
}
/*Second section styling*/
.content-two{
    width: 100vw;
    background-color: var(--white-tone);
    margin-top: -2rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
}
h3{
    color: var(--dark-tone);
    padding: 2rem;
    text-align: center;
    font-size: 32px;
}
.icons-list{
    display: flex;
    justify-content: center;
    gap: 2rem
}
.icon-item{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;   
}
.icon-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 10rem;
    text-decoration: none;
    color: var(--dark-tone);
    text-align: center;
    transition: all 0.8s;
    
}

.img-link{
    height: 6rem;
    width: 6rem;
    border: 2px solid var(--dark-tone);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 5px var(--blue-tone);
    background-color: var(--dark-tone);
    transition: 0.5s ease-in-out;
    margin-top: 1rem;
        
}
.icon-item a:hover{
    border-radius: 10px;
    box-shadow: 1px 2px 10px 5px var(--blue-tone);

}
.icon-item>p{
    color: var(--dark-tone);
    
    padding: 1rem;
}

/*third section style*/
.content-three{
    background-color: var(--green-tone);
    color: var(--dark-tone);
    font-size: 35px;
    margin-top: -3rem;
    padding: 5% 30%;
}
.content-three>p{
    padding-bottom: 0;
}
h6{
    text-align: right;
    text-decoration-line: underline;
    padding-bottom: 0;
    font-weight: 800;
}
/*fourth section style*/
.content-four{
    width: 100vw;
    background-color: var(--white-tone);
    margin-top: -5rem;
    padding: 5rem 2rem;
     overflow-x: hidden;
    
}
.banner{
    background-color: var(--blue-tone);
    padding: 3rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    
    margin-left: 10%;
    margin-right: 10%;
}
.banner>p{
    flex: 1;
    padding-right: 2.5rem;
}

span{
    font-size: larger;
    font-weight: 800;
    
}
.banner>a{
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#btn-two{
    all: unset;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    display: inline-block;
    border: 1px solid white;
    padding: .5rem 1.25rem;
    background: var(--blue-tone);
    color: var(--white-tone);
    box-shadow: 0 12px 12px -6px black;
    transform: scale(1);
    transition: ease-in-out 250ms;
    margin-left: auto;
    flex: 1;
}
#btn-two:hover{
    transform: scale(1.125);
}
/*footer styles applied*/
.footer{
    width: 100vw;
    background-color: var(--dark-tone);
    margin-top:-2rem;
    text-align: center;
    padding: 1rem 0;
}
